*{
    /* background-color: bisque; */
}
.mytitle{
    color: red;
    text-align: center;
    font-size: 50px;
    
}
#mydesc{
    font-size: 42px;
    color: gold;
    text-align: right;
   
}
h3{
    color: brown;
}
.CIRCLE1{

width: 500px;
height: 500px;
background-color: rgb(249, 249, 251);
/* border-radius: 50%; */
border-top-right-radius: 20%;
border-bottom-left-radius: 40%;
float: center;
}
#cont1{
    width: 500px;
    height: 400px;
    background-color: greenyellow;
    margin-left: 800px;
    margin-top: 400px;
    padding-left: 100px;
    margin: 50px 100px 200px 50px;
}